.cursor/
.windsurf/
.vscode/!tasks.json
.vscode/!settings.json
.env
*/.env
postgres-data
node_modules/
uploads/
/client/
.DS_Store
.volumes/
libs/
dist/
AGENTS.md

coverage/

# CI/CD local test repositories
ci/dev/repo/

# Apollo GraphQL generated schemas
**/supergraph-*.graphql
**/supergraph.graphql

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*

**/*.tsbuildinfo
