# Services Configuration

# Orchestrator mode configuration
orchestrator:
  services:
    - apps
    - delivery
    - inventory
    - payments
    - pricing
  transporter: "nats://nats:4222" # null for in-memory, "NATS" or "nats://localhost:4222" for distributed
  log_level: info
  metrics_port: 3030
  environment: development

services:
  checkout:
    port: 10002
    transporter: "nats://nats:4222"
    database_url: "postgresql://postgres:postgres@postgres:5432/portal?schema=portal"

  orders:
    port: 10003
    transporter: "nats://nats:4222"
    database_url: "postgresql://postgres:postgres@postgres:5432/portal?schema=portal"

  apps:
    port: 10001
    database_url: "postgresql://postgres:postgres@postgres:5432/portal?schema=portal"

  delivery:
    port: 10004

  inventory:
    port: 10005

  payments:
    port: 10006

  pricing:
    port: 10008
