# Services Configuration

services:
  apps:
    port: 10001
    database_url: "postgresql://postgres:postgres@localhost:5432/portal?schema=portal"

  checkout:
    port: 10002
    database_url: "postgresql://postgres:postgres@localhost:5432/portal?schema=portal"

  orders:
    port: 10003
    database_url: "postgresql://postgres:postgres@localhost:5432/portal?schema=portal"

  delivery:
    port: 10004

  inventory:
    port: 10005

  payments:
    port: 10006

  platform:
    port: 10007

  pricing:
    port: 10008
