# Services Configuration

# Common vars for services
vars:
  # Environment for all services
  environment: production
  # Log level for all services
  log_level: info
  # Moleculer transporter for services broker (use localhost for local dev)
  moleculer_transporter: nats://localhost:4222
  # Platform GRPC (context) server (use localhost for local dev)
  platform_grpc_host: localhost:50051

services:
  orchestrator:
    # Services included to orchestrator
    services:
      - apps
      - delivery
      - inventory
      - payments
      - pricing
    metrics_port: 3030

  checkout:
    storefront_graphql_port: 10002
    transporter: "nats://localhost:4222"
    database_url: "postgresql://postgres:postgres@localhost:5432/portal?schema=portal"
    metrics_port: 3031

  orders:
    storefront_graphql_port: 10003
    transporter: "nats://localhost:4222"
    database_url: "postgresql://postgres:postgres@localhost:5432/portal?schema=portal"
    metrics_port: 3032

  apps:
    admin_graphql_port: 10001
    database_url: "postgresql://postgres:postgres@localhost:5432/portal?schema=portal"
    metrics_port: 3033

  delivery:
    port: 10004

  inventory:
    port: 10005

  payments:
    port: 10006

  pricing:
    port: 10008
