vars:
  environment: {{ service_env }}
  log_level: {{ service_log_level }}
  moleculer_transporter: {{ moleculer_transporter }}
  platform_grpc_host: {{ platform_grpc_host }}

services:
  orchestrator:
    services:
      - apps
      - delivery
      - inventory
      - payments
      - pricing
    metrics_port: {{ orchestrator_metrics_port }}

  apps:
    admin_graphql_port: {{ apps_port }}
    database_url: {{ apps_database_url }}
    metrics_port: {{ apps_metrics_port }}

  checkout:
    storefront_graphql_port: {{ checkout_port }}
    database_url: {{ checkout_database_url }}
    metrics_port: {{ checkout_metrics_port }}

  orders:
    storefront_graphql_port: {{ orders_port }}
    database_url: {{ orders_database_url }}
    metrics_port: {{ orders_metrics_port }}

  delivery:
    port: 0

  inventory:
    port: 0

  payments:
    port: 0

  pricing:
    port: 0
