vars:
  environment: {{ service_env }}
  log_level: {{ service_log_level }}
  moleculer_transporter: {{ moleculer_transporter }}
  platform_grpc_host: {{ platform_grpc_host }}

services:
  orchestrator:
    services:
      - apps
      - delivery
      - inventory
      - payments
      - pricing
    metrics_port: {{ orchestrator_metrics_port }}
