services:
  orchestrator:
    image: {{ orchestrator_image_name }}
    container_name: orchestrator-service
    restart: unless-stopped
    ports:
      - "0.0.0.0:{{ orchestrator_metrics_port }}:{{ orchestrator_metrics_port }}"
      - "0.0.0.0:{{ apps_port }}:{{ apps_port }}"
      - "0.0.0.0:{{ checkout_port }}:{{ checkout_port }}"
      - "0.0.0.0:{{ orders_port }}:{{ orders_port }}"
    secrets:
      - source: service_config
        target: /app/config.yml
    environment:
      - PLATFORM_INVENTORY_GRAPHQL_URL={{ platform_inventory_graphql_url }}
    networks:
      - shopana-network

secrets:
  service_config:
    file: ./config.yml

networks:
  shopana-network:
    name: shopana-network
    driver: bridge
    external: true
