supergraph:
  path: /api/admin-v2/graphql/query
  introspection: true
  listen: 0.0.0.0:{{ apollo_router_admin_port }}

homepage:
  enabled: true

include_subgraph_errors:
  all: true

cors:
  allow_any_origin: true

headers:
  all:
    request:
      - propagate:
          matching: ".*"

health_check:
  listen: 0.0.0.0:{{ apollo_router_admin_health_port }}

telemetry:
  instrumentation:
    spans:
      mode: spec_compliant
      default_attribute_requirement_level: required
  exporters:
    logging:
      stdout:
        enabled: true
        format: json
      common:
        service_name: apollo-router-admin
        resource:
          "service.name": "apollo-router-admin"
          "service.namespace": "shopana"
