federation_version: 2
subgraphs:
  platform:
    routing_url: {{ apollo_platform_admin_url }}
    schema:
      file: /schema/platform-admin-api.graphql
  apps:
    routing_url: {{ apollo_apps_admin_url }}
    schema:
      file: /schema/apps-admin-api.graphql
