federation_version: 2
subgraphs:
  platform:
    routing_url: {{ apollo_platform_admin_url }}
    schema:
      file: /schema/platform-admin-api.graphql
  apps:
    routing_url: {{ apollo_apps_admin_url }}
    schema:
      file: /schema/apps-admin-api.graphql
  inventory:
    routing_url: {{ apollo_inventory_admin_url }}
    schema:
      file: /schema/inventory-admin-api.graphql
  media:
    routing_url: {{ apollo_media_admin_url }}
    schema:
      file: /schema/media-admin-api.graphql
