appname={{ casdoor_app_name }}
httpport={{ casdoor_port }}
runmode={{ casdoor_run_mode }}

driverName={{ casdoor_db_driver }}
dataSourceName=user={{ casdoor_db_user }} password={{ casdoor_db_password }} host={{ casdoor_db_host }} port={{ casdoor_db_port }} sslmode={{ casdoor_db_ssl_mode }} dbname={{ casdoor_db_name }}
dbName={{ casdoor_db_name }}

domain={{ casdoor_domain }}

copyrequestbody = true

tableNamePrefix = {{ casdoor_table_prefix }}
showSql = {{ casdoor_show_sql }}
