# Frontend Url
BASE_URL=https://sandbox.shopana.io
# Admin API
ADMIN_GRAPHQL_URL=https://sandbox.shopana.io/api/admin/graphql/query
# Client API
CLIENT_GRAPHQL_URL=https://sandbox.shopana.io/api/client/graphql/query
# Rest URL
ADMIN_REST_URL==https://sandbox.shopana.io/api/admin


SEED_TENANT_EMAIL=admin1@shopana.io # replace with a real email
SEED_TENANT_PASSWORD=11111111 # replace with a real password
SEED_PROJECT_SLUG=xDKsd-sqr # replace with a real project slug
