CMSCLIENT_PORT=3000
CMSCLIENT_ENV=development

# Local
CMSCLIENT_API_URL=http://127.0.0.1:8000

# Stage
# CMSCLIENT_API_URL=https://piknik-dev.com.ua

# Locals
GRAPHQL_SCHEMA_URL=http://127.0.0.1:8000/api/admin/graphql/query
