services:
  {{ service_name }}:
    image: {{ shopana_ghcr_registry }}/{{ shopana_ghcr_owner }}/{{ service_name }}-service:{{ service_image_tag }}
    container_name: {{ service_name }}-service
    restart: unless-stopped
    ports:
      - "0.0.0.0:{{ service_port }}:{{ service_port }}"
    secrets:
      - source: service_env
        target: /.env
      - source: service_config
        target: /app/config.yml
    environment:
      - NODE_ENV={{ service_env | default('production') }}
      - PORT={{ service_port }}
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:{{ service_port }}/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s

secrets:
  service_env:
    file: ./.env
  service_config:
    file: ./config.yml
