services:
  router-admin:
    image: ghcr.io/shopanaio/apollo-router:${APOLLO_ROUTER_TAG:-latest}
    ports:
      - "4000:4000"
      - "8088:8088"
    volumes:
      - ./router-admin.yaml:/dist/config/router.yaml:ro
      - ./supergraph-admin.graphql:/dist/schema/supergraph.graphql:ro
    environment:
      APOLLO_ROUTER_CONFIG_PATH: /dist/config/router.yaml
      APOLLO_ROUTER_SUPERGRAPH_PATH: /dist/schema/supergraph.graphql
      APOLLO_ELV2_LICENSE: accept
    command:
      - --supergraph
      - /dist/schema/supergraph.graphql
      - --config
      - /dist/config/router.yaml

  router-storefront:
    image: ghcr.io/shopanaio/apollo-router:${APOLLO_ROUTER_TAG:-latest}
    ports:
      - "4001:4001"
      - "8089:8089"
    volumes:
      - ./router-storefront.yaml:/dist/config/router.yaml:ro
      - ./supergraph-storefront.graphql:/dist/schema/supergraph.graphql:ro
    environment:
      APOLLO_ROUTER_CONFIG_PATH: /dist/config/router.yaml
      APOLLO_ROUTER_SUPERGRAPH_PATH: /dist/schema/supergraph.graphql
      APOLLO_ELV2_LICENSE: accept
    command:
      - --supergraph
      - /dist/schema/supergraph.graphql
      - --config
      - /dist/config/router.yaml
