services:
  migrations:
    build:
      context: ./build
      dockerfile: Dockerfile
    container_name: migrations
    secrets:
      - source: migrations_env
        target: /.env
    command: ["up"]

secrets:
  migrations_env:
    file: ./.env
